<p id="notice"><%= notice %></p>

<p>
  <b>Jobs:</b>
  <%= @milestone_record.jobs_id %>
</p>

<p>
  <b>Milestone tasks:</b>
  <%= @milestone_record.milestone_tasks_id %>
</p>

<p>
  <b>Date completed:</b>
  <%= @milestone_record.date_completed %>
</p>


<%= link_to 'Edit', edit_milestone_record_path(@milestone_record) %> |
<%= link_to 'Back', milestone_records_path %>
