

<%= form_for(@scope_type) do |f| %>

  <div class="field">
    <%= f.label :Type %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Project Type' %><br />
    <%= f.select(:ProjectTypeID, @project_type.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
