<% content_for(:header) do %>
Scopes
<% end %>

<table>
  <tr>
    <th>Scope Type</th>
    <th> Project Type</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scope_types.each do |scope_type| %>
  <tr>
    <td><%= scope_type.name %></td>
    <td><%= scope_type.project_type.name %></td>
    <td><%= link_to 'Edit', edit_scope_type_path(scope_type) %></td>
    <td><%= link_to 'Tasks', milestone_tasks_path %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scope Type', new_scope_type_path %>
<%= link_to 'Back to Jobs', new_job_path %>
