<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scope_type.name %>
</p>

<p>
  <b>Projecttypeid:</b>
  <%= @scope_type.ProjectTypeID %>
</p>

<p>
  <b> 5p:</b>
  <%= @scope_type._5p %>
</p>

<p>
  <b> 5b:</b>
  <%= @scope_type._5b %>
</p>

<p>
  <b> 10p:</b>
  <%= @scope_type._10p %>
</p>

<p>
  <b> 10b:</b>
  <%= @scope_type._10b %>
</p>

<p>
  <b> 15p:</b>
  <%= @scope_type._15p %>
</p>

<p>
  <b> 15b:</b>
  <%= @scope_type._15b %>
</p>

<p>
  <b> 20p:</b>
  <%= @scope_type._20p %>
</p>

<p>
  <b> 20b:</b>
  <%= @scope_type._20b %>
</p>

<p>
  <b> 25p:</b>
  <%= @scope_type._25p %>
</p>

<p>
  <b> 25b:</b>
  <%= @scope_type._25b %>
</p>

<p>
  <b> 30p:</b>
  <%= @scope_type._30p %>
</p>

<p>
  <b> 30b:</b>
  <%= @scope_type._30b %>
</p>

<p>
  <b> 35p:</b>
  <%= @scope_type._35p %>
</p>

<p>
  <b> 35b:</b>
  <%= @scope_type._35b %>
</p>

<p>
  <b> 40p:</b>
  <%= @scope_type._40p %>
</p>

<p>
  <b> 40b:</b>
  <%= @scope_type._40b %>
</p>

<p>
  <b> 45p:</b>
  <%= @scope_type._45p %>
</p>

<p>
  <b> 45b:</b>
  <%= @scope_type._45b %>
</p>

<p>
  <b> 50p:</b>
  <%= @scope_type._50p %>
</p>

<p>
  <b> 50b:</b>
  <%= @scope_type._50b %>
</p>

<p>
  <b> 55p:</b>
  <%= @scope_type._55p %>
</p>

<p>
  <b> 55b:</b>
  <%= @scope_type._55b %>
</p>

<p>
  <b> 60p:</b>
  <%= @scope_type._60p %>
</p>

<p>
  <b> 60b:</b>
  <%= @scope_type._60b %>
</p>

<p>
  <b> 65p:</b>
  <%= @scope_type._65p %>
</p>

<p>
  <b> 65b:</b>
  <%= @scope_type._65b %>
</p>

<p>
  <b> 70p:</b>
  <%= @scope_type._70p %>
</p>

<p>
  <b> 70b:</b>
  <%= @scope_type._70b %>
</p>

<p>
  <b> 75p:</b>
  <%= @scope_type._75p %>
</p>

<p>
  <b> 75b:</b>
  <%= @scope_type._75b %>
</p>

<p>
  <b> 80p:</b>
  <%= @scope_type._80p %>
</p>

<p>
  <b> 80b:</b>
  <%= @scope_type._80b %>
</p>

<p>
  <b> 85p:</b>
  <%= @scope_type._85p %>
</p>

<p>
  <b> 85b:</b>
  <%= @scope_type._85b %>
</p>

<p>
  <b> 90p:</b>
  <%= @scope_type._90p %>
</p>

<p>
  <b> 90b:</b>
  <%= @scope_type._90b %>
</p>

<p>
  <b> 95p:</b>
  <%= @scope_type._95p %>
</p>

<p>
  <b> 95b:</b>
  <%= @scope_type._95b %>
</p>

<p>
  <b> 100p:</b>
  <%= @scope_type._100p %>
</p>

<p>
  <b> 100b:</b>
  <%= @scope_type._100b %>
</p>


<%= link_to 'Edit', edit_scope_type_path(@scope_type) %> |
<%= link_to 'Back', scope_types_path %>
