<%= form_for(@milestone_task) do |f| %>

  <div class="field">
    <%= f.label :MilestoneValidationID, 'Descr' %><br />
    <%= f.select(:MilestoneValidationID, @milestone_validation.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			
			<%= link_to 'New', milestone_validations_path %>
  </div>
  <div class="field">
    <%= f.label :PercentageID, 'Milestone Percentage' %><br />
    <%= f.select(:PercentageID, options_for_select(Percentage::PERCENTAGES) ) 
		%>
  </div>  
  <div class="field">
    <%= f.label :ScopeTypeID, 'Scope Type' %><br />
    <%= f.select(:ScopeTypeID, @scope_type.collect {|p| [ "#{p.name}", p.id ] }) 
		%>    
			<%= observe_field :milestone_task_ScopeTypeID, :frequency => 0.5, :with => "'parent_task=' + escape(value)",
			:url => {:action => :set_parent_task}, :update => "p_task"
			%>		
  </div>

  <div class="field" >
    <%= f.label :ParentMilestoneTaskID, 'Parent Task' %><br />  	
<span id="p_task" ><%= render 'parent_task' %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
