<%= form_for(@milestone_task) do |f| %>

  <div class="field">
    <%= f.label :MilestoneValidationID, 'Descr' %><br />
    <%= f.select(:MilestoneValidationID, @milestone_validation.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			
			<%= link_to 'New', milestone_validations_path %>
  </div>
  <div class="field">
    <%= f.label :PercentageID, 'Milestone Percentage' %><br />
    <%= f.select(:PercentageID, @milestone_validation.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
  </div>  
  <div class="field">
    <%= f.label :ScopeTypeID, 'Scope Type' %><br />
    <%= f.text_field :ScopeTypeID %>
  </div>

  <div class="field">
    <%= f.label :ParentMilestoneTaskID, 'Parent Task' %><br />
    <%= f.text_field :ParentMilestoneTaskID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
