<h1>Listing Milestone Task</h1>

<table>
  <tr>
    <th>Descr</th>
    <th>Scope Type</th>
    <th>Percentage</th>
    <th>Parent Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milestone_tasks.each do |milestone_task| %>
  <tr>
    <td><%= milestone_task.milestone_validation.name %></td>
    <td><%= milestone_task.scope_type.name %></td>
    <td><%= milestone_task.PercentageID %></td>
    <td><%= milestone_task.parent_task.milestone_validation.name if milestone_task.parent_task %></td>
    <td><%= link_to 'Edit', edit_milestone_task_path(milestone_task) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_milestone_task_path %>
<%= link_to 'Back to Scopes', scope_types_path %>
