<%= form_for(@addition_task_record) do |f| %>
  <% if @addition_task_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addition_task_record.errors.count, "error") %> prohibited this addition_task_record from being saved:</h2>

      <ul>
      <% @addition_task_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jobs_id %><br />
    <%= f.text_field :jobs_id %>
  </div>
  <div class="field">
    <%= f.label :milestone_tasks_id %><br />
    <%= f.text_field :milestone_tasks_id %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br />
    <%= f.text_field :date_completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
