<p id="notice"><%= notice %></p>

<p>
  <b>Jobs:</b>
  <%= @addition_task_record.jobs_id %>
</p>

<p>
  <b>Milestone tasks:</b>
  <%= @addition_task_record.milestone_tasks_id %>
</p>

<p>
  <b>Date completed:</b>
  <%= @addition_task_record.date_completed %>
</p>


<%= link_to 'Edit', edit_addition_task_record_path(@addition_task_record) %> |
<%= link_to 'Back', addition_task_records_path %>
