<script type="text/javascript">
function ruSure()
{
if(!confirm("Are you sure you want to change the scope? (doing so will delete any Milestone Task entries for this job!)"))
{
document.forms[0].reset();
}
}
</script>
<table align="left" border="0" width="700">


<%= form_for(@job) do |f| %>
	<tr>
		<td><%= f.label :CustomerID, 'Customer' %></td>
		<td><%= f.label :CarrierID, 'Carrier' %></td>
		<td><%= f.label :SiteID, 'Sites' %></td>
		<td><%= f.label :ProjectTypeID, 'Project Type' %></td>
		<td><%= f.label :ScopeTypeID, 'Scope Type' %></td>			
	</tr>
	<tr>
		<td>
			<%= f.select(:CustomerID, @customer.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			
			<%= link_to 'New', customers_path %>
		</td>	
		<td><%= f.select(:CarrierID, @carrier.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			
			<%= link_to 'New', carriers_path %>
		</td>	
		<td><%= f.select(:SiteID, @work_site.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			
			<%= link_to 'New', work_sites_path %>
		</td>		
		<td><%= f.select(:ProjectTypeID, @project_type.collect {|p| [ "#{p.name}", p.id ] } ) 
		%>
			
			<%= link_to 'New', project_types_path %>
			<%= observe_field :job_ProjectTypeID, :frequency => 0.5, :with => "'project_type=' + escape(value)",
			:url => {:action => :get_scope}, :update => "scope_type_div"
			%>
		</td>	
		<td id="scope_type_div" > 
			 <%= render 'scope_type' %> 
			 


	<tr>
		<td colspan="5" >
			  <div class="actions">
    <%= f.submit %>
  </div>

		</td>	
	</tr>

</table>

<% end %>
