<script type="text/javascript">
function ruSure()
{
if(document.getElementsByClassName("edit_job") != null)
{
alert("Are you sure you want to change the scope? (doing so will delete any Milestone Task entries for this job!)");
}
}
function before_change()
{
if (document.getElementById("job_amount_billable").value != "")
{alert("Before changing this value, check that nothing has been billed against it.  If it has, add an additional scope of work to it instead.");}

}
</script>
<table align="left" border="0" width="700">


<%= form_for(@job) do |f| %>
	<tr>
		<td><%= f.label :CustomerID, 'Customer' %></td>
		<td><%= f.label :CarrierID, 'Carrier' %></td>
		<td><%= f.label :SiteID, 'Sites' %></td>
		<td><%= f.label :ProjectTypeID, 'Project Type' %></td>
		<td><%= f.label :ScopeTypeID, 'Scope Type' %></td>
		<td><%= f.label :amount_billable, 'Amount Billable' %></td>			
	</tr>
	<tr>
		<td>
			<%= f.select(:CustomerID, @customer.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			<br />
			<%= link_to 'New', customers_path %>
		</td>	
		<td><%= f.select(:CarrierID, @carrier.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			<br />
			<%= link_to 'New', carriers_path %>
		</td>	
		<td><%= f.select(:SiteID, @work_site.collect {|p| [ "#{p.name}", p.id ] }) 
		%>
			<br />
			<%= link_to 'New', work_sites_path %>
		</td>		
		<td><%= f.select(:ProjectTypeID, @project_type.collect {|p| [ "#{p.name}", p.id ] } ) 
		%>
			<br />
			<%= link_to 'New', project_types_path %>
			<%= observe_field :job_ProjectTypeID, :frequency => 0.5, :with => "'project_type=' + escape(value)",
			:url => {:action => :get_scope}, :update => "scope_type_div"
			%>
		</td>	
		<td id="scope_type_div" > 
			 <%= render 'scope_type' %> 
		</td>	 
		<td>
			<%= f.text_field :amount_billable, :size=> 9, :onfocusin => "before_change();" %> <br /> &nbsp;
		</td>
	</tr>	
	<%= yield :record_list %>
	
	<tr>
		<td colspan="6" >
			  <div class="actions">
    <%= f.submit %>
  </div>

		</td>	
	</tr>

</table>

<% end %>
