
<h1>Jobs</h1>


<%= link_to "New", new_job_path %>

<br />
<table align="left" border="0" width="600">
  <tr class="table_head" >
    <td>Customer</td>
    <td>Carrier</td>
    <td>Site</td>
    <td>Project</td>
    <td>Scope</td>
    <td></td>
  </tr>
<% @jobs.each do |job| %>  

  <tr>
    <td><%= job.customer.name %></td>
    <td><%= job.carrier.name %></td>
    <td><%= job.work_site.name %></td>
    <td><%= job.project_type.name %></td>
    <td><%= job.scope_type.name %></td>
    <td><%= link_to 'Edit', job_path(job) %></td>
  </tr>
<% end %>
</table>
