
<table>
<% if @records
percentage_temp = nil
%>

<tr id="spinner" style="display:none; border:none;" ><td colspan=2>
		<%= image_tag("spinner.gif", :style=> "margin-left:100px;")%> 
</td></tr>
	<% for f in @records %>
	<% @addition_task_record = f
		@addition_task_record.date_completed = JobScopeAdditionsController::EDIT_TEXT if f.date_completed_is_nil_or_blank
	%>
	<% unless percentage_temp == f.milestone_task.PercentageID %>
	<tr><td colspan="2" style="text-align: left; font-weight: bold; text-decoration: underline;"><%= f.milestone_task.PercentageID %>% Milestones</td></tr>
<tr>
	<td style="font-weight:bold;" >
		Record Type	
	</td>
	
	<td style="font-weight:bold;" >
		Date Completed <span style="font-size:9px; font-weight:normal; vertical-align: middle;" >(MM/DD/YYYY)</span>
	</td>
</tr>	
	<% end %>
		<tr>
			<td>
				<%= f.milestone_task.milestone_validation.name if f.milestone_task and f.milestone_task.milestone_validation 
				%>
			</td>
			
			<td style="padding-left:20px;">

				<%= in_place_editor_field :addition_task_record, :date_completed,{}, {:url => url_for({:controller => :addition_task_records, :action => :set_addition_task_record_date_completed, :id => f.id})} %> 

			</td>
		</tr>
	<% end %>
<% end %>	
</table>
<% if session[:in_place_editor_error] %>
<span style="color:red; font-weight:bold;" ><%= session[:in_place_editor_error] %></span>
<% end %>
