<% content_for(:header) do %>
Job Scope Additions
<% end %>

<h1>Site:<%= @job.work_site.name %></h1>

<table>
  <tr>
    <th>Scopes</th>
    <th></th>
    <th></th>
  </tr>

<% @job_scope_additions.each do |job_scope_addition| %>
  <tr>
    <td><%= job_scope_addition.scope_type.name %></td>
    <td><%= link_to 'Edit', "#{edit_job_scope_addition_path(job_scope_addition)}?jid=#{job_scope_addition.jobs_id}" %></td>
    <td><%= link_to 'Delete', job_scope_addition, :confirm => 'Deleting this record cannot be reversed, are you sure you want to delete?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job scope addition', "#{new_job_scope_addition_path}/?jid=#{@job.id}" %>
