<!DOCTYPE html>
<html>
<head>
  <title>Redwing</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "datepicker" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "datepicker" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js" ></script>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper">
<div id="top">
	
	<div id="lefta">
	
	<div id="logo"><span>Redwing | <%= yield :header %></span></div>

		 
	</div> <!-- end left //-->
	
	<div id="right" style="visibility: hidden;">
		<form method="get" id="searchform" action="/">
	<div>
	  <input value="search archives" class="search" onfocus="if(this.value = 'Search...') { this.value = 'Search is currently disabled.'; }" type="text">
	  <input class="submit" value="" type="submit">
	</div>
		</form>

			  		 
    </div> <!-- end right //-->

  </div> <!-- end top //-->
	
	<div id="rss"><span></span></div> <!-- end rss //-->
	
	<ul id="nav">
			<li><a href="\" title="home">Home</a></li>
			<li><%= link_to 'Customers', customers_path %></li>
			<li><%= link_to 'Carriers', carriers_path %></li>
			<li><%= link_to 'Sites', work_sites_path %></li>
			<li><%= link_to 'Project Types', project_types_path %></li>
			<li><%= link_to 'Scopes', scope_types_path %></li>
  </ul> 

<!-- end nav //-->
		


<div id="primary_div" >
<p class="notice"><%= notice || params[:notice] %></p>
<p class="alert"><%= alert || params[:alert] %></p>
<%= yield %>
	
	<br /><br />
</div>

 
    <div id="footer">
    <span>Copyright &copy; 2011 Redwing Electric &bull; Design by James Mac William</span></div>


</body>
</html>
